:root {
  --main-accent: #ff5454;
  --font: #161616;
  --bg: #ffffff;
}

.dark-mode {
  --main-accent: #f1d00a;
  --font: #f0f0f0;
  --bg: #21325e;
}

#username-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--main-accent);
  font-size: 15px;
  color: var(--font);
  font-style: italic;
}

#your-move {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  color: var(--font);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 105%;
  place-self: center;
}

#computer-move {
  grid-column: 3 / span 2;
  grid-row: 1 / 2;
  color: var(--font);
  font-family: "Rubik Mono One", sans-serif;
  font-size: 105%;
  place-self: center;
}

#games {
  grid-column: 1 / span 1;
  grid-row: 3 / 4;
  place-self: center;
  font-size: x-small;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--font);
}

#wins {
  grid-column: 2 / span 1;
  grid-row: 3 / 4;
  place-self: center;
  font-size: x-small;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--font);
}

#losses {
  grid-column: 3 / span 1;
  grid-row: 3 / 4;
  place-self: center;
  font-size: x-small;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--font);
}

#draws {
  grid-column: 4 / span 1;
  grid-row: 3 / 4;
  place-self: center;
  font-size: x-small;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--font);
}

#dark-mode-btn {
  /* ADD CODE HERE */
}

#dark-mode-btn input {
  /* ADD CODE HERE, HIDE OG CHECKBOX */
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button {
  flex: 1;
  margin: 10px;
  padding: 1.5rem 0;
  background: var(--main-accent);
  border: 1px solid var(--main-accent);
  color: var(--font);
  border-radius: 10px;
  align-items: stretch;
  letter-spacing: 0.5px;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  font-family: "Rubik Mono One", sans-serif;
}

.button:hover {
  background: var(--font);
  border: 1px solid var(--font);
  color: var(--main-accent);
  cursor: pointer;
}

.moves-and-stats {
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container {
  border: 5px solid var(--main-accent);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5vh;
  width: 450px;
  height: 450px;
  padding: 5rem;
  text-align: center;
}
.block-one {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  color: var(--font);
  font-style: italic;
  font-family: "Rubik Mono One", sans-serif;
  font-size: smaller;
  place-self: center;
}

.block-two {
  grid-column: 3 / span 2;
  grid-row: 2 / 3;
  color: var(--font);
  font-style: italic;
  font-family: "Rubik Mono One", sans-serif;
  font-size: smaller;
  place-self: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font);
  background: var(--bg);
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}
